/* Tablonun genel görünümü ve başlık hücresinin stili */
table {
    border: 3px solid #c00000;
   
}



.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column; /* Dikey düzen */
    align-items: center;
}
th {
    width: 750px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    background-color: #205867;
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
}

.header-cell {
    width: 750px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    background-color: #205867;
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
}

.header-cell.ders-adi {
    text-align: left;
}


/* Container genişliği */
.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
/* Tablonun ikinci satırındaki hücrelere (td) uygulanacak stiller */
.subheader-cell {
    height: 30px;
    text-align: center;
    background-color: #eeece1 !important;
    font-weight: bolder;
    
}

/* Tablonun üçüncü satırındaki hücrelere (td) uygulanacak stiller */


tr:nth-child(3) td:nth-child(1) span {
    font-weight: bolder;
    color: #ffffff;
}

tr:nth-child(3) td:nth-child(2) span {
    font-weight: 700;
    color: #ffffff;
}

tr:nth-child(3) td:nth-child(n+3) span {
    font-weight: bolder;
    color: #ffffff;
}
/* Tablonun beşinci satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller */
tr:nth-child(5) td {
    background-color: var(--second);
    text-align: center;
}

tr:nth-child(5) td span {
    color: #000000;
}

tr:nth-child(5) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--second);
}

tr:nth-child(5) td:nth-child(n+4) span {
    color: #000000;
}

/* Tablonun altıncı satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller */


tr:nth-child(6) td:nth-child(1) span {
    font-weight: bolder;
    color: #ffffff;
}

tr:nth-child(6) td:nth-child(2) span {
    font-weight: 700;
    color: #ffffff;
}

tr:nth-child(6) td:nth-child(n+3) span {
    font-weight: bolder;
    color: #ffffff;
}
/* Tablonun yedinci satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller */
tr:nth-child(7) td {
    background-color: var(--second);
    text-align: center;
}

tr:nth-child(7) td span {
    color: #000000;
}

tr:nth-child(7) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--second);
}

tr:nth-child(7) td:nth-child(n+4) span {
    color: #000000;
}


/*tablonun sekizinci satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller*/

tr:nth-child(8) td {
    background-color: var(--first);
    text-align: center;
}

tr:nth-child(8) td span {
    color: #000000;
}

tr:nth-child(8) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--first);
}

tr:nth-child(8) td:nth-child(n+4) span {
    color: #000000;
}

/*tablonun dokuzuncu satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller*/

tr:nth-child(9) td {
    background-color: var(--second);
    text-align: center;
}

tr:nth-child(9) td span {
    color: #000000;
}

tr:nth-child(9) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--second);
}

tr:nth-child(9) td:nth-child(n+4) span {
    color: #000000;
}

/*tablonun onuncu satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller*/

tr:nth-child(10) td {
    background-color: var(--first);
    text-align: center;
}

tr:nth-child(10) td span {
    color: #000000;
}

tr:nth-child(10) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--first);
}

tr:nth-child(10) td:nth-child(n+4) span {
    color: #000000;
}

/*tablonun onbirinci satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller*/

tr:nth-child(11) td {
    background-color: var(--second);
    text-align: center;
}

tr:nth-child(11) td span {
    color: #000000;
}

tr:nth-child(11) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--second);
}

tr:nth-child(11) td:nth-child(n+4) span {
    color: #000000;
}

/*tablonun onikinci satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller*/

tr:nth-child(12) td {
    background-color: var(--first);
    text-align: center;
}

tr:nth-child(12) td span {
    color: #000000;
}

tr:nth-child(12) td:nth-child(n+4) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--first);
}

tr:nth-child(12) td:nth-child(n+4) span {
    color: #000000;
}

/*tablonun onüçüncü satırındaki hücrelere (td) ve içindeki span etiketlerine uygulanacak stiller*/

tr:nth-child(13) td[colspan="4"] {
    text-align: right;
    background-color: var(--first);
}

tr:nth-child(13) td[colspan="4"] span {
    color: #000000;
}

tr:nth-child(13) td:nth-child(n+5) {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--first);
}

tr:nth-child(13) td:nth-child(n+5) span {
    color: #000000;
}



.note-cell {
    background-color: #eeece1;
    text-align: justify;
}
.header-cell.ders-adi {
    text-align: left; /* Ders adı hücrelerini sola dayalı yapar */
}

.course-row td:nth-child(3) {
    text-align: left; /* Ders adı hücrelerini sola dayalı yapar */
}
.footer-cell {
    text-align: center; /* "Toplam" metnini ortalar */
}

.footer-cell + td {
    text-align: center; /* Sayısal değerleri ortalar */
}


.second-row {
    display: table-row; /* İkinci satırı görünür yap */
}

td[contenteditable="true"] {
    text-align: center;
}
td {
    min-width: 90px; /* Minimum genişlik */
    min-height: 50px; /* Minimum yükseklik */
}

